In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import gmap_api_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2020-02-19 05:56:30,-46.19,168.86,60.01,73,70,10.00
1,1,Saint-Philippe,RE,2020-02-19 05:56:31,-21.36,55.77,84.20,69,5,24.16
2,2,Airai,TL,2020-02-19 05:56:31,-8.93,125.41,76.82,81,69,2.98
3,3,Castro,BR,2020-02-19 05:56:31,-24.79,-50.01,65.62,98,100,0.63
4,4,Butaritari,KI,2020-02-19 05:56:31,3.07,172.79,84.11,77,17,18.52

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=gmap_api_key)

In [5]:
# Heatmap of temperature
# Get latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature 
max_temp = city_data_df["Max Temp"]
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add heatmap layer
fig.add_layer(heatmap_layer)
# Call figure to plot data
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
# Get latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature 
humidity = city_data_df["Humidity"]
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable
heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
# Add heatmap layer
fig.add_layer(heatmap_layer)
# Call figure to plot data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
# Get latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature 
cloudiness = city_data_df["Cloudiness"]
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable
heatmap_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)
# Add heatmap layer
fig.add_layer(heatmap_layer)
# Call figure to plot data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of temperature
# Get latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature 
wind = city_data_df["Wind Speed"]
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable
heatmap_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
# Add heatmap layer
fig.add_layer(heatmap_layer)
# Call figure to plot data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Saint-Philippe,RE,2020-02-19 05:56:31,-21.36,55.77,84.20,69,5,24.16
2,2,Airai,TL,2020-02-19 05:56:31,-8.93,125.41,76.82,81,69,2.98
4,4,Butaritari,KI,2020-02-19 05:56:31,3.07,172.79,84.11,77,17,18.52
8,8,Atuona,PF,2020-02-19 05:56:32,-9.80,-139.03,81.72,81,54,20.80
15,15,Cidreira,BR,2020-02-19 05:56:34,-30.18,-50.21,76.01,84,99,12.12
29,29,Vaini,TO,2020-02-19 05:56:37,-21.20,-175.20,78.80,78,40,8.05
30,30,Puerto Ayora,EC,2020-02-19 05:56:37,-0.74,-90.35,77.09,88,2,7.38
38,38,Katghora,IN,2020-02-19 05:56:38,22.50,82.55,85.59,11,0,3.65
40,40,Arraial Do Cabo,BR,2020-02-19 05:52:34,-22.97,-42.03,77.45,86,48,27.11
43,43,Pitimbu,BR,2020-02-19 05:56:39,-7.47,-34.81,77.00,94,73,3.36

In [11]:
preferred_cities_df.count()

City_ID       135
City          135
Country       134
Date          135
Lat           135
Lng           135
Max Temp      135
Humidity      135
Cloudiness    135
Wind Speed    135
dtype: int64

In [12]:
preferred_cities_df = preferred_cities_df.dropna()

In [13]:
preferred_cities_df.count()

City_ID       134
City          134
Country       134
Date          134
Lat           134
Lng           134
Max Temp      134
Humidity      134
Cloudiness    134
Wind Speed    134
dtype: int64

In [14]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng Hotel Name
1    Saint-Philippe      RE     84.20 -21.36   55.77
2             Airai      TL     76.82  -8.93  125.41
4        Butaritari      KI     84.11   3.07  172.79
8            Atuona      PF     81.72  -9.80 -139.03
15         Cidreira      BR     76.01 -30.18  -50.21
29            Vaini      TO     78.80 -21.20 -175.20
30     Puerto Ayora      EC     77.09  -0.74  -90.35
38         Katghora      IN     85.59  22.50   82.55
40  Arraial Do Cabo      BR     77.45 -22.97  -42.03
43          Pitimbu      BR     77.00  -7.47  -34.81

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gmap_api_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found....skipping.")

hotel_df.head(10)

Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Saint-Philippe,RE,84.20,-21.36,55.77,"Chambres d'hôte ""La Trinité"""
2,Airai,TL,76.82,-8.93,125.41,Juvinal Martin
4,Butaritari,KI,84.11,3.07,172.79,Isles Sunset Lodge
8,Atuona,PF,81.72,-9.80,-139.03,Villa Enata
15,Cidreira,BR,76.01,-30.18,-50.21,Novomar Pousada e Turismo Ltda
29,Vaini,TO,78.80,-21.20,-175.20,Keleti Beach Resort
30,Puerto Ayora,EC,77.09,-0.74,-90.35,Finch Bay Galapagos Hotel
38,Katghora,IN,85.59,22.50,82.55,Mr.K.D. Mahant
40,Arraial Do Cabo,BR,77.45,-22.97,-42.03,Pousada Porto Praia
43,Pitimbu,BR,77.00,-7.47,-34.81,Reserva do Abiaí

In [18]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [20]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))